<% provide(:title, @user.dealer) %>

<!-- There is alot of repeated cash process's see if you really need all of them -->


		
		
<!--         This is just the  prices of drugs we set to variables
	################################################################################	-->
		<% weed_price = @user.weed_price%>
	  <% shroom_price = @user.shroom_price %>
		<% molly_price = @user.molly_price%>
		<% cocaine_price = @user.cocaine_price%>
		<% meth_price = @user.meth_price%>
		
		<% oxy_price = @user.oxy_price %>
		
<div class="jumbotron city albany">
        
        <h1 class="title">Albany</h1>
    		 <br><br>
   
   			
   			
</div> 


<div class="row ">



<!-- ################################################################### 
    												WEEED
    ###################################################################-->



		
<% if weed_price > 300 %>
	<div class="col-xs-11 col-md-4 col-center-block background_red ">
<%else%>
	<div class="col-xs-11 col-md-4 col-center-block background ">
<%end%>
		
		<div class='row'>			
			
			<div class='col-xs-6'>	
				<div class='activity_rounded'>
					<%=image_tag("weed.jpg", width:'102', height: '102')%> 
				</div>
			</div>
					
				
			<div class='col-xs-6 form_margin'>
				<%= form_for @user, html: {class: "drug_form col-center-block "} do |f| %>
				
			
					
					<div class='row' style='padding-top: 8px'>
						<div class='col-xs-12'>
								<div class='forms col-center-block '>
							<h4 class='drug_label'>
			  				Cannabis
			  			</h4>
		
											
		
							<%= f.select(:weed, [["1 oz $#{weed_price}", 1], ["2 oz $#{weed_price * 2}", 2],["3 oz $#{(weed_price * 2.5).to_i}", 3]]) %>
						</div> <!-- form div center-block thang-->					
		
						</div>
					</div>
				
				  <div class='row' style='padding-top: 3px'>
						<div class='col-xs-6 buy_button'>
							<%= f.submit "Buy",  :name => "buy_weed",    class: "btn btn-success btn-md",   id:"buy_weed" %>
						</div>
						<div class='col-xs-6 sell_button '>
							<%= f.submit "Sell", :name => "sell_weed",   class: "btn btn-danger btn-md",    id:"sell_weed" %>
            </div>
					</div><!-- buy/sell button row-->
				
				
			  <%end%>
  			 
  		</div> <!-- col-xs-7 FORM COLUMN -->
    </div> <!-- row that takes up the drug-->
	</div><!-- col-xs-11 background...the acutal div for the drug section-->
<!-- ################################################################### 
    												SHROOMS
    ###################################################################-->
		

		
<% if shroom_price > 275 %>
	<div class="col-xs-11 col-md-4 col-center-block background_red ">
<%else%>
	<div class="col-xs-11 col-md-4 col-center-block background ">
<%end%>
		
		<div class='row'>			
			
			<div class='col-xs-6'>	
				<div class='activity_rounded'>
					<%=image_tag("shrooms.jpg", width:'102', height: '102')%> 
				</div>
			</div>
					
				
			<div class='col-xs-6 form_margin'>
				<%= form_for @user, html: {class: "drug_form col-center-block "} do |f| %>
				
			
					
					<div class='row' style='padding-top: 8px'>
						<div class='col-xs-12'>
							<div class='forms col-center-block '>
							<h4 class='drug_label'>
			  				Shrooms
			  			</h4>
		
							<%= f.select(:shrooms, [["1 oz $#{shroom_price}", 1], ["2 oz $#{shroom_price * 2}", 2],["3 oz $#{(shroom_price * 2.5).to_i}", 3]]) %>
							</div><!-- form div center-block thang-->
					  </div>
					</div>
				
				
				<div class='row' style='padding-top: 3px'>
					<div class='col-xs-6 buy_button'>
						<%= f.submit "Buy",  :name => "buy_shrooms",    class: "btn btn-success btn-md",   id:"buy_shrooms" %>
					</div>
					<div class='col-xs-6 sell_button '>
						<%= f.submit "Sell", :name => "sell_shrooms",   class: "btn btn-danger btn-md",    id:"sell_shrooms" %>
          </div>
				</div>	<!-- buy/sell button row-->
			
			
	  	<%end%>			
  			 
  	</div> <!-- col-xs-7 FORM COLUMN -->
  </div> <!-- row that takes up the drug-->
</div><!-- col-xs-11 background...the acutal column for the drug-->

</div><!-- Entire Drug Deal Row-->	