<%= provide(:title, 'Sign Up') %>


<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
		<h1>Create Your Dealer </h1>
		<%= form_for(@user) do |f|%>
			<%= render 'shared/error_messages' %>
			<%= f.label :dealer, 'User/Dealer Name'%>
			<%= f.text_field (:dealer) %>
			
			<%= f.label :movie, 'Favorite Movie' %>
			<%= f.text_field :movie %>
			
			<%= f.label :password, 'Password (minimum 6 characters)' %>
			<%= f.password_field :password %>
			
			<%= f.label :password_confirmation, "Password Confirmation" %>
			<%= f.password_field :password_confirmation %>
		
		
		<!-- Might need to move these to the controller so people can't see in in
		     The source code of the webpage-->
		  <%= f.hidden_field :cash,    :value => 500 %>
			<%= f.hidden_field :weed,    :value => 0 %>
			<%= f.hidden_field :molly,   :value => 0 %>
			<%= f.hidden_field :shrooms, :value => 0 %>
			<%= f.hidden_field :cocaine, :value => 0 %>
	    <%= f.hidden_field :meth, 	 :value => 0 %> 
	  	<%= f.hidden_field :oxy,		 :value => 0 %>
			
	   <%= f.submit "Create and Play", class: "btn btn-lg btn-success signin" %>
		<% end %>
	</div>
</div>

<!-- 4/6 trying to get a hidden field to pass -->