<% provide(:title, @user.dealer) %>




<!--         This is just the  prices of drugs we set to variables
	################################################################################	-->
		<% weed_price = @user.weed_price%>
	  <% shroom_price = @user.shroom_price %>
		<% molly_price = @user.molly_price%>
		<% cocaine_price = @user.cocaine_price%>
		<% meth_price = @user.meth_price%>
		
		<% oxy_price = @user.oxy_price %>
		
<div class="jumbotron city schen">
        
        <h1 class="title">Schenectady</h1>
    		 <br><br>
   
   			
   			
</div>
		
<div class="row">

<!-- ################################################################### 
    												POLICE
    ###################################################################-->

<div class="col-xs-11 col-md-4 col-center-block">
	<h4>Police</h4>
	<%if @user.police >= 66%>
		<div class="progress">
 			<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%=@user.police%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@user.police%>%">
  <%elsif @user.police >= 45%>
  		<div class="progress">
 				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%=@user.police%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@user.police%>%">
  <%elsif @user.police >= 1%>
  		<div class="progress">
 		 		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=@user.police%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@user.police%>%">
  <%else%>
  	<p>error</p>
  <%end%>
  
  
 				</div>
			</div>
	
</div>

<!-- ################################################################### 
    												WEEED
    ###################################################################-->



<% if weed_price > 330 %>
	<div class="col-xs-11 col-md-4 col-center-block background_red ">
<%else%>
	<div class="col-xs-11 col-md-4 col-center-block background ">
<%end%>
		
		<div class='row'>			
			
			<div class='col-xs-6'>	
				<div class='activity_rounded'>
					<%=image_tag("weed.jpg", width:'102', height: '102')%> 
			
			<%if @user.weed > 0 %>
				<div class='col'>
					<div class='col-xs-3'>
						<p><%=@user.weed%></p>
					</div>
				</div>
			<%else%>
				<%nil%>
			<%end%>	
				</div> <!--activity rounded-->
			</div>
					
				
			<div class='col-xs-6 form_margin'>
				<%= form_for @user, html: {class: "drug_form col-center-block "} do |f| %>
				
			
					
					<div class='row' style='padding-top: 8px'>
						<div class='col-xs-12'>
								<div class='forms col-center-block '>
							<h4 class='drug_label'>
			  				Cannabis
			  			</h4>
		
											
		
							<%= f.select(:weed, [["1 oz $#{weed_price}", 1], ["2 oz $#{weed_price * 2}", 2],["3 oz $#{(weed_price * 2.5).to_i}", 3]]) %>
						</div> <!-- form div center-block thang-->					
		
						</div>
					</div>
				
				  <div class='row' style='padding-top: 3px'>
						<div class='col-xs-6 buy_button'>
							<%= f.submit "Buy",  :name => "buy_weed",    class: "btn btn-success btn-md",   id:"buy_weed" %>
						</div>
						<div class='col-xs-6 sell_button '>
							<%= f.submit "Sell", :name => "sell_weed",   class: "btn btn-danger btn-md",    id:"sell_weed" %>
            </div>
					</div><!-- buy/sell button row-->
				
				
			  <%end%>
  			 
  		</div> <!-- col-xs-7 FORM COLUMN -->
    </div> <!-- row that takes up the drug-->
	</div><!-- col-xs-11 background...the acutal div for the drug section-->
<!-- ################################################################### 
    												SHROOMS
    ###################################################################-->
		

		
<% if shroom_price > 300 %>
	<div class="col-xs-11 col-md-4 col-center-block background_red ">
<%else%>
	<div class="col-xs-11 col-md-4 col-center-block background ">
<%end%>
		
		<div class='row'>			
			
			<div class='col-xs-6'>	
				<div class='activity_rounded'>
					<%=image_tag("shrooms.jpg", width:'102', height: '102')%> 
					
					<%if @user.shrooms > 0 %>
						<div class='col'>
							<div class='col-xs-3'>
								<p><%=@user.shrooms%></p>
							</div>
						</div>
					<%else%>
						<%nil%>
					<%end%>	
				</div>
			</div>
				
				<div class='col-xs-6 form_margin'>
				            
				<%= form_for @user, html: {class: "drug_form col-center-block "} do |f| %>
				
			
					
					<div class='row' style='padding-top: 8px'>
						<div class='col-xs-12'>
							<div class='forms col-center-block '>
							<h4 class='drug_label'>
			  				Shrooms
			  			</h4>
		
							<%= f.select(:shrooms, [["1 oz $#{shroom_price}", 1], ["2 oz $#{shroom_price * 2}", 2],["3 oz $#{(shroom_price * 2.5).to_i}", 3]]) %>
							</div><!-- form div center-block thang-->
					  </div>
					</div>
				
				
				<div class='row' style='padding-top: 3px'>
					<div class='col-xs-6 buy_button'>
						<%= f.submit "Buy",  :name => "buy_shrooms",    class: "btn btn-success btn-md",   id:"buy_shrooms" %>
					</div>
					<div class='col-xs-6 sell_button '>
						<%= f.submit "Sell", :name => "sell_shrooms",   class: "btn btn-danger btn-md",    id:"sell_shrooms" %>
          </div>
				</div>	<!-- buy/sell button row-->
			
			
	  	<%end%>			
  			 
  	</div> <!-- col-xs-6 FORM COLUMN -->
  </div> <!-- row that takes up the drug-->
</div><!-- col-xs-11 background...the acutal column for the drug-->

<!-- ################################################################### 
    												MOllY
    ###################################################################-->
		

		
<% if molly_price > 750 %>
	<div class="col-xs-11 col-md-4 col-center-block background_red ">
<%else%>
	<div class="col-xs-11 col-md-4 col-center-block background ">
<%end%>
		
		<div class='row'>			
			
			<div class='col-xs-6'>	
				<div class='activity_rounded'>
					<%=image_tag("molly.jpg", width:'102', height: '102')%> 
					<%if @user.molly > 0 %>
						<div class='col'>
							<div class='col-xs-3'>
								<p><%=@user.molly%></p>
							</div>
						</div>
					<%else%>
						<%nil%>
					<%end%>
				
				</div>
			</div>
					
				
			<div class='col-xs-6 form_margin'>
				
				<%= form_for @user, html: {class: "drug_form col-center-block "} do |f| %>
				

				
					<div class='row' style='padding-top: 8px'>
						<div class='col-xs-12'>
							<div class='forms col-center-block '>						
								<h4 class='drug_label'>
			  					Molly
			  				</h4>
		
			        	<%= f.select(:molly, [["1 oz $#{molly_price}", 1], ["2 oz $#{molly_price * 2}", 2],["3 oz $#{(molly_price * 2.5).to_i}", 3]]) %>
						  </div><!-- form div center-block thang-->
						</div>
					</div>
				
					<div class='row' style='padding-top: 3px'>
						<div class='col-xs-6 buy_button'>
							<%= f.submit "Buy",  :name => "buy_molly",    class: "btn btn-success btn-md",   id:"buy_molly" %>
						</div>
						<div class='col-xs-6 sell_button '>
							<%= f.submit "Sell", :name => "sell_molly",   class: "btn btn-danger btn-md",    id:"sell_molly" %>
            </div>
					</div> 
				
				
			  <%end%>				
  			 
  		</div> <!-- col-xs-7 FORM COLUMN -->
    </div> <!-- row that takes up the drug-->
	</div><!-- col-xs-11 background...the acutal column for the drug-->
		
<!-- ################################################################### 
    												Cocaine
    ###################################################################-->
		

		
<% if cocaine_price > 1400 %>
	<div class="col-xs-11 col-md-4 col-center-block background_red ">
<%else%>
	<div class="col-xs-11 col-md-4 col-center-block background ">
<%end%>
		
		<div class='row'>			
			
			<div class='col-xs-6'>	
				<div class='activity_rounded'>
					<%=image_tag("cocaine.jpg", width:'102', height: '102')%> 
					<%if @user.cocaine > 0 %>
						<div class='col'>
							<div class='col-xs-3'>
								<p><%=@user.cocaine%></p>
							</div>
						</div>
					<%else%>
						<%nil%>
					<%end%>
					
				</div>
			</div>
					
				
			<div class='col-xs-6 form_margin'>
				
				<%= form_for @user, html: {class: "drug_form col-center-block "} do |f| %>
				
				
					
					<div class='row' style='padding-top: 8px'>
						<div class='col-xs-12'>
							<div class='forms col-center-block '>					
								<h4 class='drug_label'>
			  					Cocaine
			  				</h4>
		
			       	 <%= f.select(:cocaine, [["1 oz $#{cocaine_price}", 1], ["2 oz $#{cocaine_price * 2}", 2],["3 oz $#{(cocaine_price * 2.5).to_i}", 3]]) %>
							</div><!-- form div center-block thang-->
						</div>
					</div>
				
				
				<div class='row' style='padding-top: 3px'>
						<div class='col-xs-6 buy_button'>
							<%= f.submit "Buy",  :name => "buy_cocaine",    class: "btn btn-success btn-md",   id:"buy_cocaine" %>
						</div>
						<div class='col-xs-6 sell_button '>
							<%= f.submit "Sell", :name => "sell_cocaine",   class: "btn btn-danger btn-md",    id:"sell_cocaine" %>
            </div>
				</div>
			
			
			<%end%>
  			 
  		</div> <!-- col-xs-7 FORM COLUMN -->
    </div> <!-- row that takes up the drug-->
	</div><!-- col-xs-11 background...the acutal column for the drug-->

<!-- ################################################################### 
    												Meth
    ###################################################################-->
		

		
<% if meth_price > 1400 %>
	<div class="col-xs-11 col-md-4 col-center-block background_red ">
<%else%>
	<div class="col-xs-11 col-md-4 col-center-block background ">
<%end%>
		
		<div class='row'>			
			
			<div class='col-xs-6'>	
				<div class='activity_rounded'>
					<%=image_tag("meth.jpg", width:'102', height: '102')%> 
					<%if @user.meth > 0 %>
						<div class='col'>
							<div class='col-xs-3'>
								<p><%=@user.meth%></p>
							</div>
						</div>
					<%else%>
						<%nil%>
					<%end%>
				</div>
			</div>
					
				
			<div class='col-xs-6 form_margin'>
			
			<%= form_for @user, html: {class: "drug_form col-center-block "} do |f| %>
			
					
				
					<div class='row' style='padding-top: 8px'>
						<div class='col-xs-12'>
							<div class='forms col-center-block '>		
							<h4 class='drug_label'>
			  				Meth
			  			</h4>
		
							<%= f.select(:meth, [["1 oz $#{meth_price}", 1], ["2 oz $#{meth_price * 2}", 2],["3 oz $#{(meth_price * 2.5).to_i}", 3]]) %>
							</div><!-- form div center-block thang-->
						</div>
				 </div>
				
				
				 <div class='row' style='padding-top: 3px'>
						<div class='col-xs-6 buy_button'>
							<%= f.submit "Buy",  :name => "buy_meth",    class: "btn btn-success btn-md",   id:"buy_meth" %>
						</div>
						<div class='col-xs-6 sell_button '>
							<%= f.submit "Sell", :name => "sell_meth",   class: "btn btn-danger btn-md",    id:"sell_meth" %>
            </div>
         </div>
				
			 
		<%end%>
  			 
  	</div> <!-- col-xs-7 FORM COLUMN -->
  </div> <!-- row that takes up the drug-->
</div><!-- col-xs-11 background...the acutal column for the drug-->

<!-- ################################################################### 
    												Oxy
    ###################################################################-->
		

		
<% if oxy_price > 2200 %>
	<div class="col-xs-11 col-md-4 col-center-block background_red ">
<%else%>
	<div class="col-xs-11 col-md-4 col-center-block background ">
<%end%>
		
		<div class='row'>			
			
			<div class='col-xs-6'>	
				<div class='activity_rounded'>
					<%=image_tag("oxy.jpg", width:'102', height: '102')%> 
					
					<%if @user.oxy > 0 %>
						<div class='col'>
							<div class='col-xs-3'>
								<p><%=(@user.oxy * 50)%></p>
							</div>
						</div>
					<%else%>
						<%nil%>
					<%end%>
				
				</div>
			</div>
					
			<div class='col-xs-6 form_margin'>
			
			<%= form_for @user, html: {class: "drug_form col-center-block "} do |f| %>
			
				
				
					<div class='row' style='padding-top: 8px'>
						<div class='col-xs-12'>
							<div class='forms col-center-block '>						
							<h4 class='drug_label'>
			  				Oxycontin
			  			</h4>
		
				 			<%= f.select(:oxy, [["50 pills $#{oxy_price}", 1], ["100 pills $#{oxy_price * 2}", 2],["200 pills $#{(oxy_price * 3.3).to_i}", 4]]) %>
							</div> <!-- form div center-block thang-->
						</div>
					</div>
				
				
					<div class='row' style='padding-top: 3px'>
						<div class='col-xs-6 buy_button'>
							<%= f.submit "Buy",  :name => "buy_oxy",    class: "btn btn-success btn-md",   id:"buy_oxy" %>
						</div>
						<div class='col-xs-6 sell_button '>
							<%= f.submit "Sell", :name => "sell_oxy",   class: "btn btn-danger btn-md",    id:"sell_oxy" %>
            </div>
					</div>	

				
			<% end %>	
			</div> <!-- col-xs-7 FORM COLUMN -->
  </div> <!-- row that takes up the drug-->
</div><!-- col-xs-11 background...the acutal column for the drug-->	

</div><!-- Entire Drug Deal Row-->		
