
<% provide(:title, @user.dealer) %>


<div class="row">

	<div class='center span12'>


		<lead>Hey There <%= @user.dealer %>. <%= @user.movie %> was
			a pretty good movie...I guess.</lead>

		<h2>
			You have $<%= @user.cash %> go buy some fuggin drugs
		
		</h2>

		
		<p>You have <%= @user.weed%> ounces of chronic/weed/nug .</p>
		<p>You have <%= @user.shrooms%> ounces of magic mushrooms.</p>
		<p>You have <%= @user.molly%> ounces of molly.</p>
		<p>You have <%= @user.cocaine%> ounces of cocaine.</p>
    <p>You have <%= @user.meth%>    ounces of meth.</p>
    <p>You have <%= @user.oxy%>     pills of oxycontin.</p>
    

	  <p><b>test:</b><i>		 		 <%= @lame %>     		 per ounce</i></p>
	  <p><b>@@switch before the method</b><i>		 		 <%= @first_time%>   </i></p>
		<p><b>view variable from the controller:</b><i>		 		 <%= @view_variable %></i></p>
		<p><b>@@switch after the method</b><i>		 		 <%= @second_time %>     		</i></p>
		
	</div>
</div>

