<!DOCTYPE html>
<html>
  <head>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="animate.min.css">
    
    
   

    
    
    
  </head>
  
  <body>
 		 <%if current_page?('/help') or current_page?('/about') or current_page?('/first')%>
 		 		<%nil%>
 		 <%else%>
 		 		<%= render 'layouts/header' %>
    	<%end%>
    <div class="container">
      
      <% flash.each do |key, value| %>
      	<div class="alert alert-<%= key %>"><%= value %></div>
      <%end%>
      <%= yield %>
    	<%= render 'layouts/footer' %>
    
    </div>
   
 

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
  
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  	
 <!-- 	<script src="//cdn.jsdelivr.net/jquery.velocity/0.8.0/jquery.velocity.min.js"></script> -->

		
		
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="smileModal" data-backdrop="static" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <%=image_tag("http://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/1024px-Smiley.svg.png", height:'200px', width:'200px', id:'smiley')%>
    	<a type="button" class="btn btn-primary btn-lg" id="next" href="<%=level%>">Next Level</a>
    </div>
  </div>
</div>
		
		
		<script>
			$(document).ready(function(){
  		
  		  var currentButton = 0
  		  
  		  $(".butt").click(function(){
        	$(this).button('loading').delay(1000).queue(function() {
            $(this).button('reset');
            $(this).dequeue();
        	});        
    		});
  		  
  		 
  	$(".correct").click(function(){
   		 
   		 currentButton = currentButton + 1
   		 
   		 if (currentButton == 1) { 
   		  	
   		  	$("#star1").velocity("transition.bounceRightIn",700 );
  				$("#star1").velocity("callout.shake",600);
  		   
  		    if (<%=@level%> == 1) { 
  		  		setTimeout(function() {
						$('#smileModal').modal('show')
  					}, 1350);	
  		  
  		    }
  		  
  		  }
  			
		  if (currentButton == 2) {
		  	
		  		$("#star2").velocity("transition.bounceRightIn",700 );
  				$("#star2").velocity("callout.shake",600);
		  	
		  	
		  	  if (<%=@level%> == 2) { 
  		  		setTimeout(function() {
						$('#smileModal').modal('show')
  					}, 1350);	
  		  
  		    }
		  	
		  	
		  	}		
  				
  		
  		if (currentButton == 3) {
		  	
		  		$("#star3").velocity("transition.bounceRightIn",700 );
  				$("#star3").velocity("callout.shake",600);
		  	
		  	  if (<%=@level%> == 3) { 
  		  		setTimeout(function() {
						$('#smileModal').modal('show')
  					}, 1350);	
  		    
  		    }
		  	
		  	
		  	}		
  		});			
  	
   
     	$("#next").click(function(){
     		
     		$('#smiley').callout.pulse()
     		
     	});  
   
   
   

});
		</script>

		



<script>
window.addEventListener('load', function() {
    FastClick.attach(document.body);
}, false);
</script>





<!--   This is for the letter game page...it works but probably isnt as fast
 				as it can be because it uses css animation 
 				
 				the delay is for the stop reset thing to wait a second
-->  

 

  
  
  </body>
</html>